.box {
  height: 500px;
  background-color: #f3f3f4;
  background-image: url(./images/bk.png);
  background-repeat: no-repeat;
  background-position: left bottom;

  /* 文字控制属性，继承给子级 */
  text-align: right;
  color: #333;
}

.box h2 {
  font-size: 36px;
  font-weight: 400;
  line-height: 100px;
}

.box p {
  font-size: 20px;
}

.box a {
  width: 125px;
  height: 40px;
  background-color: #f06b1f;

  display: inline-block;
  /* 转块级无法右对齐，因为块元素独占一行 */
  /* display: block; */

  text-align: center;
  line-height: 40px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
